/.bundle/*
!/.bundle/config

/.sass-cache
/.cache
/.vagrant
/tmp
.DS_Store
Thumbs.db

!.nojekyll

/deploy_key
/deploy_key.pub
!/deploy_key.enc

!/.travis.yml
!/Gemfile
/Gemfile.lock

!/bower.json
!/.bowerrc

!/source
/build

/source/bower_components
