/.bundle
!/.bundle/config
/.sass-cache
/.cache
/.vagrant

.DS_Store
Thumbs.db
!/.nojekyll
!/.gitattributes
!/Gemfile
/Gemfile.lock
!/.travis.yml
/deploy_key
/deploy_key.pub
!/deploy_key.enc

!/source
/build
