& {
  @include reset-text;
  >.container {
    @include box-shadow;
    background-color:$booth-card-background-color;
    overflow:hidden;
  }
  .top {
    @include breakpoint($layout-default-breakpoint) {
      $rhythm:7;
      height:rhythm($rhythm);
    }
    @include susy-breakpoint($layout-square-pc-breakpoint,$layout-square-pc) {
      $rhythm:7;
      height:rhythm($rhythm);
    }
    @include susy-breakpoint($layout-tablet-breakpoint,$layout-tablet) {
      $rhythm:7;
      height:rhythm($rhythm);
    }
    @include susy-breakpoint($layout-phablet-breakpoint, $layout-phablet) {
      $rhythm:5;
      height:rhythm($rhythm);
    }
    @include susy-breakpoint($layout-phone-breakpoint, $layout-phone) {
      $rhythm:5;
      height:rhythm($rhythm);
    }
    position:relative;
    .background {
      position:absolute;
      top:0;left:0;right:0;bottom:0;
      @include background-size(cover);
      background-position:center center;
      img {
        display:none;
      }
    }
    .circle_image {
      $rhythm:3;
      @include circle-image-sizing($rhythm);
      @include squish(0.5);
      margin-bottom:-( rhythm( $rhythm / 2 ) );
      & {
        position:absolute;
        top:auto;
        //left:0;
        //right:auto;
        left:auto;right:0;
        bottom:15px;
        @include breakpoint($layout-tablet-max-width) {
          bottom:0;
        }
      }
    }
  }
  .content {
    @include padding-leader(1);
    @include padding-trailer(1);
    @include pad(1);
  }
  .header {
    @include breakpoint($layout-tablet-max-width) {
      @include post(2);
    }
    h1 {
      @include adjust-font-size-to(1.25rem);
    }
  }
  .main {
    @include padding-leader(1);
    @include adjust-font-size-to(.9rem);
  }
}