& {
  @include reset-text;
  >.container {
    @include box-shadow;
    background-color:$booth-card-background-color;
    overflow:hidden;
  }
  .top {
    $rhythm:7;
    height:rhythm($rhythm);
    position:relative;
    .background {
      position:absolute;
      top:0;left:0;right:0;bottom:0;
      @include background-size(cover);
      background-position:center center;
      img {
        display:none;
      }
    }
  }
  .content {
    @include padding-leader(1);
    @include padding-trailer(1);
    @include pad(1);
  }
  .header {
    h1 {
      @include adjust-font-size-to(1.25rem);
    }
  }
  .main {
    @include padding-leader(1);
    @include adjust-font-size-to(.9rem);
    min-height:rhythm(4);
  }
}