& {
  & {
    background-color:$footer-background-color;
    color:$footer-color;
    @include adjust-font-size-to($footer-font-size);
    height:rhythm($footer-rhythm);
    overflow:hidden;
    position:absolute;
    top:auto;
    left:0;right:0;bottom:0;
  }
  >.container {
    >.columns {
      @include container;
      @include reset-list;
      >.left,
      >.right {
        $padding:1;
        $rhythm:$footer-column-rhythm - ($padding * 2);
        height:rhythm($rhythm);
        @include padding-leader($padding,$footer-font-size);
        @include padding-trailer($padding,$footer-font-size);
      }
      >.left {
        @include span(40 of 48);
        li {
          display:inline-block;
        }
      }
      >.right {
        @include span(8 of 48);
        .item {
          /*
          &:not(:first-child) {
            @include leader(1,$footer-font-size);
          }
          */
          &:not(:last-child) {
            @include trailer(1,$footer-font-size);
          }
          >a {
            display:block;
          }
          .image {
            display:block;
            background-position:center center;
            @include background-size(contain);
            background-repeat:no-repeat;
            height:rhythm(2);
            //background-color:#fff;
            @include filter( grayscale(100%) invert(100%) );
            img {
              display:none;
            }
          }
        }
      }
    }
    >.bottom {
      text-align:center;
      $padding:1;
      $rhythm:$footer-bottom-rhythm - ($padding * 2);
      @include adjust-font-size-to($footer-font-size);
      @include padding-leader($padding,$footer-font-size);
      @include padding-trailer($padding,$footer-font-size);
    }
  }
}
