@mixin footer-sizing($layout: default) {
  @include container;
  $max-span:   susy-get(columns);
  $right-span: 8;
  $left-span:  $max-span - $right-span;
  @if $layout == phone {
    $left-span:  $max-span;
    $right-span: $max-span;
  }
  >.left {
    @include span($left-span of $max-span);
  }
  >.right {
    @include span($right-span of $max-span);
  }
}
& {
  & {
    background-color:$footer-background-color;
    color:$footer-color;
    @include adjust-font-size-to($footer-font-size);
    height:rhythm($footer-rhythm);
    overflow:hidden;
    position:absolute;
    top:auto;
    left:0;right:0;bottom:0;
  }
  @include breakpoint($layout-phone-breakpoint) {
    position:relative !important;
    height:auto !important;
  }
  >.container {
    >.columns {
      @include breakpoint($layout-default-breakpoint) {
        @include footer-sizing(default);
      }
      @include susy-breakpoint($layout-square-pc-breakpoint,$layout-square-pc) {
        @include footer-sizing(square-pc);
      }
      @include susy-breakpoint($layout-tablet-breakpoint,$layout-tablet) {
        @include footer-sizing(tablet);
      }
      @include susy-breakpoint($layout-phablet-breakpoint,$layout-phablet) {
        @include footer-sizing(phablet);
      }
      @include susy-breakpoint($layout-phone-breakpoint,$layout-phone) {
        @include footer-sizing(phone);
      }
      @include reset-list;
      $column-padding:1;
      $footer-column-real-rhythm:$footer-column-rhythm - ($column-padding * 2);
      >.left,
      >.right {
        height:rhythm($footer-column-real-rhythm);
        @include breakpoint($layout-phone-breakpoint) {
          height:auto !important;
        }
      }
      >.left {
        #footer_nav {
          $padding:($footer-column-real-rhythm - 1) / 2;
          @include padding-leader(1,$footer-font-size);
          @include breakpoint($layout-default-breakpoint) {
            @include padding-leader($padding,$footer-font-size);
            @include padding-trailer($padding,$footer-font-size);
          }
        }
        li {
          display:block;
          $padding:$footer-font-size / 2;
          .icon {
            padding:0 $padding;
          }
          @include breakpoint($layout-default-breakpoint) {
            display:inline-block;
            &:not(:first-child) {
              padding-left:$padding;
            }
            &:not(:last-child) {
              padding-right:$padding;
            }
          }
        }
      }
      >.right {
        @include padding-leader($column-padding,$footer-font-size);
        @include padding-trailer($column-padding,$footer-font-size);
        .item {
          /*
          &:not(:first-child) {
            @include leader(1,$footer-font-size);
          }
          */
          &:not(:last-child) {
            @include trailer(1,$footer-font-size);
          }
          >a {
            display:block;
          }
          .image {
            display:block;
            background-position:center center;
            @include background-size(contain);
            background-repeat:no-repeat;
            height:rhythm(2);
            //background-color:#fff;
            @include filter( grayscale(100%) invert(100%) );
            img {
              display:none;
            }
          }
        }
      }
    }
    >.bottom {
      text-align:center;
      $padding:1;
      $rhythm:$footer-bottom-rhythm - ($padding * 2);
      @include adjust-font-size-to($footer-font-size);
      @include padding-leader($padding,$footer-font-size);
      @include padding-trailer($padding,$footer-font-size);
    }
  }
}
