$background-color:$header-background-color;
$color:#fff;
$font-size:1.5rem;
$header-rhythm:3;

& {
  color:$color;
  background-color:$background-color;
  z-index:$header-z-index;
  overflow:hidden;
  >.container {
    position:relative;
    @include gpu-acceleration;
    padding-top:rhythm($nav-rhythm);
  }
  .content {
    position:relative;
    z-index:$header-content-z-index;
    @include padding-leader(8);
    @include padding-trailer(1);
    
    @include breakpoint($layout-default-breakpoint) {
      @include container;
    }
    @include susy-breakpoint($layout-square-pc-breakpoint,$layout-square-pc) {
      @include container;
    }
    @include susy-breakpoint($layout-tablet-breakpoint,$layout-tablet) {
      @include container;
    }
  }
  .background {
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    background-position:center center;
    @include background-size(cover);
    z-index:$header-background-z-index;
    /** /
    & {
      $blur:5px;
      @include filter( blur($blur) );
      margin:-($blur);
    }
    / **/
  }
  h1 {
    $font-size:2rem;
    @include adjust-font-size-to($font-size);
    $rhythm:$header-rhythm - 1;
    /*
    @include padding-leader($rhythm,$font-size);
    @include padding-trailer($rhythm,$font-size);
    */
    margin:0;
    
    @include gutter;
  }
  & {
    //margin-top:-( rhythm($nav-rhythm) );
  }
}
