$nav-rhythm:    3;
$nav-font-size: 1rem;
$nav-color:     #fff;

& {
  ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }
  li {
    display:block;
    text-align:initial;
  }
  >.container {
    //height:$nav-height;
    @include container;
  }
  .item {
    $span:(map-get($susy,columns) / 6);
    @include span($span);
    >.container {
      display:block;
      //height:$nav-height;
    }
    .text {
      display:block;
      //line-height:$nav-height;
      text-align:center;
      @include adjust-font-size-to($nav-font-size);
      $rhythm: $nav-rhythm - 1;
      @include leader($rhythm / 2);
      @include trailer($rhythm / 2);
    }
    strong.text {
      display:none;
    }
    .icon {
      display:block;
      background-position:center center;
      @include background-size(contain);
      background-repeat:no-repeat;
      //height:$nav-height;
      height:rhythm($nav-rhythm);
      img {
        display:none;
      }
    }
    .icon.logo {
      background-image:url('../images/seisa.notext.w.png');
    }
  }
}

& {
  color:$nav-color;
  background-color:$nav-background-color;
}
