& {
  & {
    position:fixed;
    top:0;left:0;right:0;
    bottom:auto;
    z-index:$nav-z-index;
  }
  ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }
  li {
    display:block;
    text-align:initial;
  }
  >.container {
    //height:$nav-height;
    @include breakpoint($layout-default-breakpoint) {
      @include container;
    }
    @include susy-breakpoint($layout-square-pc-breakpoint,$layout-square-pc) {
      @include container;
    }
    @include susy-breakpoint($layout-tablet-breakpoint,$layout-tablet) {
      @include container;
    }
  }
  .item {
    @include breakpoint($layout-default-breakpoint) {
      $span:(susy-get(columns) / 6);
      @include span($span);
    }
    @include susy-breakpoint($layout-square-pc-breakpoint,$layout-square-pc) {
      $span:(susy-get(columns) / 6);
      @include span($span);
    }
    @include susy-breakpoint($layout-tablet-breakpoint,$layout-tablet) {
      $span:(susy-get(columns) / 6);
      @include span($span);
    }
    >.container {
      display:block;
      //height:$nav-height;
    }
    .text {
      display:block;
      //line-height:$nav-height;
      text-align:center;
      @include adjust-font-size-to($nav-font-size);
      $rhythm: $nav-rhythm - 1;
      @include leader($rhythm / 2);
      @include trailer($rhythm / 2);
    }
    strong.text {
      display:none;
    }
    .icon {
      display:block;
      background-position:center center;
      @include background-size(contain);
      background-repeat:no-repeat;
      //height:$nav-height;
      height:rhythm($nav-rhythm);
      img {
        display:none;
      }
    }
    .icon.logo {
      background-image:url('../images/seisa.notext.w.png');
    }
  }
}

& {
  @include transition-property(color,background-color,box-shadow,text-shadow);
  @include transition-duration;
  @include transition-timing-function(ease);
}
body[data-scrolled-main] & {
  color:$nav-color;
  background-color:$nav-background-color;
}
body:not([data-scrolled-main]) & {
  color:$nav-transparent-color;
  background-color:$nav-transparent-background-color;
}