$midnightblue:#2c3e50;
$wetasphalt:#34495e;
$peterriver:#3498db;
$orange:#f39c12;
$carrot:#e67e22;

//$nav-background-color:$midnightblue;
$nav-background-color:$peterriver;
//$header-background-color:$midnightblue;
$header-background-color:$peterriver;

//$footer-background-color:$midnightblue;
$footer-background-color:$peterriver;
$footer-color:#fff;

$histories-background-color:$midnightblue;
$histories-header-background-color:$histories-background-color;
$histories-color:$footer-color;