$midnightblue:#2c3e50;
$wetasphalt:#34495e;
$peterriver:#3498db;
$orange:#f39c12;
$carrot:#e67e22;

$material-lightblue: (
  500: #03a9f4,
  700: #0288d1,
  900: #01579b
);
$material-cyan: (
  500: #00bcd4,
  700: #0097a7
);
$material-blue: (
  500: #5677fc,
  700: #455ede
);

//$nav-background-color:$midnightblue;
$nav-background-color:map-get($material-lightblue,500);
//$header-background-color:$midnightblue;
$header-background-color:map-get($material-lightblue,500);

//$footer-background-color:$midnightblue;
$footer-background-color:map-get($material-lightblue,700);
$footer-color:#fff;

$histories-background-color:map-get($material-lightblue,900);
$histories-header-background-color:$histories-background-color;
$histories-color:$footer-color;

$circle-image-background-color:map-get($material-lightblue,900);