$midnightblue:#2c3e50;
$wetasphalt:#34495e;
$peterriver:#3498db;
$orange:#f39c12;
$carrot:#e67e22;

$material-lightblue: (
  50:  #e1f5fe,
  500: #03a9f4,
  700: #0288d1,
  900: #01579b
);
$material-cyan: (
  500: #00bcd4,
  700: #0097a7
);
$material-blue: (
  500: #5677fc,
  700: #455ede
);

$background-color:#fcfcfc;

$nav-transparent-color: #fff;
$nav-transparent-background-color:rgba(255,255,255,0);
$nav-background-color:map-get($material-lightblue,500);
$nav-font-size: 1rem;
//$nav-color:     #000;
$nav-color: $nav-transparent-color;

//$header-background-color:$midnightblue;
$header-background-color:map-get($material-lightblue,500);

//$footer-background-color:$midnightblue;
$footer-background-color:map-get($material-lightblue,700);
$footer-color:#fff;

$histories-background-color:map-get($material-lightblue,900);
$histories-header-background-color:$histories-background-color;
$histories-color:$footer-color;

$circle-image-background-color:map-get($material-lightblue,900);

$booth-card-background-color:#fff;

$areamap-background-color:$booth-card-background-color;
$areamap-border-color:#eee;

$article-border-color:rgba(0,0,0,.125);