@charset 'UTF-8';

$default-box-shadow-h-offset:0;
$default-box-shadow-v-offset:1px;
$default-box-shadow-blur:3px;
$default-box-shadow-color:rgba(0,0,0,0.125);

$default-text-shadow-h-offset: $default-box-shadow-h-offset;
$default-text-shadow-v-offset: $default-box-shadow-v-offset;
$default-text-shadow-blur:     $default-box-shadow-blur;
$default-text-shadow-color:    $default-box-shadow-color;

@import 'compass';
@import 'breakpoint';

$susy: (
  column-width: 24px,
  columns: 48,
  gutters: 1/4,
  math: static,
  container-position: center,
  gutter-position: split,
  global-box-sizing: content-box,
  debug: (
    image: show,
    color: rgba(255,0,0,.25),
    output: overlay,
    toggle: top right
  )
);

$rhythm-unit:                 'rem';
$relative-font-sizing:        false;
$rem-width-px-fallback:       true;
$default-transition-duration: .25s;

@import 'susy';


$layout-default-breakpoint: container($susy);

$layout-square-pc: 40;
$layout-square-pc-max-width: container($layout-square-pc);

$layout-tablet: 32;
$layout-tablet-max-width: container($layout-tablet);

$layout-square-pc-breakpoint:$layout-square-pc-max-width ($layout-default-breakpoint - 1px);
$layout-tablet-breakpoint:0px ($layout-square-pc-max-width - 1px);


$footer-font-size:.9rem;
$footer-rhythm:10;
$footer-bottom-rhythm:3;
$footer-column-rhythm:$footer-rhythm - $footer-bottom-rhythm;

$nav-rhythm:3;

$with-sidebar-right-span: (
  default: 12,
  square-pc: 10,
  tablet: 8
);

@import 'colors';
@import 'z_index';

@mixin gpu-acceleration {  
  @include transform3d( translate3d(0,0,0) );
}

@mixin reset-list {
  ul,ol {
    list-style-type:none;
    margin:0;
    padding:0;
    li {
      display:block;
      text-align:inherit;
    }
  }
}

@mixin reset-text {
  h1,h2,h3,h4,h5,h6,
  p, blockquote {
    @include adjust-font-size-to(1rem);
    margin:0;padding:0;
  }
}

$circle-image-rhythm:5;
$circle-image-border-width:3px;

@mixin circle-image-sizing($rhythm: $circle-image-rhythm, $border-width: $circle-image-border-width) {
  $size:rhythm($rhythm);
  border-width:$border-width;
  &, &>.container {
    width:$size;
    height:$size;
  }
  >.container {
    margin:-($border-width);
  }
}

@mixin article-text-styling($set-gutters: false) {
  h1 {
    @include adjust-font-size-to(2rem);
  }
  h2 {
    @include adjust-font-size-to(1.5rem);
  }
  h3 {
    @include adjust-font-size-to(1.25rem);
  }
  h4 {
    @include adjust-font-size-to(1.125rem);
  }
  h1,h2,h3,h4,h5,h6 {
    @include leader(2);
    @include trailer(1);
  }
  p, blockquote {
    @include leader(1);
    @include trailer(1);
  }
  blockquote {
    //@include prefix(1);
    @include apply-side-rhythm-border(left,5px);
  }
  @if $set-gutters {
    @include article-text-gutters;
  }
}
@mixin article-text-gutters() {
  h1,h2,h3,h4,h5,h6,
  p, blockquote {
    @include gutters;
  }
}

@mixin with-sidebar-sizing($layout: default) {
  $right-span: with-sidebar-right-span($layout);
  $left-span:  with-sidebar-left-span($layout);
  @include container;
  >#left {
    @include span($left-span nest);
  }
  #sidebar {
    @include span($right-span nest);
  }
}
@function with-sidebar-right-span($layout: default) {
  @return map-get($with-sidebar-right-span, $layout);
}
@function with-sidebar-left-span($layout: default) {
  @return susy-get(columns) - with-sidebar-right-span($layout);
}
@mixin ws-cardslayout-container-sizing($layout: default) {
  @include container( with-sidebar-left-span($layout) );
}
@mixin ws-cardslayout-card-sizing($layout: default) {
  $span:with-sidebar-left-span($layout) / 3;
  @include span($span nest);
}
@mixin areamap-contaier-sizing($layout: default) {
  @include container( with-sidebar-left-span($layout) );
}
@mixin areamap-column-sizing($layout: default) {
  $left-span:20;
  $right-span:with-sidebar-left-span(default) - $left-span;
  >.left {
    @include span($left-span);
  }
  >.right {
    @include span($right-span);
  }
}
@mixin index-newssection-container-sizing($layout: default) {
  @include container;
}
@mixin index-newscard-sizing($layout: default) {
  $max-span:susy-get(columns);
  $span:$max-span / 3;
  @include span($span nest);
}