@import 'init';

head {
  z-index:$head-z-index !important;
}

html,body {
  height:100%;
  height:100vh;
}
body {
  font-family:
    'Verdana',
    'YuGothic', 'Yu Gothic', '游ゴシック',
    'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    'Meiryo', 'メイリオ',
    sans-serif;
  @include adjust-font-size-to(1rem);
  background-color:$background-color;
}
#wrapper {
  min-height:100%;
  min-height:100vh;
  position:relative;
}

a {
  text-decoration:inherit;
  color:inherit;
}

#header {
  @import 'partials/header';
}
#nav {
  @import 'partials/nav';
}
#main {
  padding-bottom:rhythm($footer-rhythm,$footer-font-size);
}
#footer {
  @import 'partials/footer';
}

#with_sidebar {
  @import 'partials/layout/with_sidebar';
}

#index {
  @import 'partials/pages/index';
}
#about {
  @import 'partials/pages/about';
}
#booth {
  @import 'partials/pages/booth';
}
#stage {
  @import 'partials/pages/stage';
}
.booth_card,
.stage_card {
  @include breakpoint($layout-default-breakpoint) {
    @include ws-cardslayout-card-sizing(default);
  }
  @include susy-breakpoint($layout-square-pc-breakpoint,$layout-square-pc) {
    @include ws-cardslayout-card-sizing(square-pc);
  }
  @include susy-breakpoint($layout-tablet-breakpoint,$layout-tablet) {
    @include ws-cardslayout-card-sizing(tablet);
  }
  @include susy-breakpoint($layout-phablet-breakpoint,$layout-phablet) {
    @include ws-cardslayout-card-sizing(phablet);
  }
  @include susy-breakpoint($layout-phone-breakpoint,$layout-phone) {
    @include ws-cardslayout-card-sizing(phone);
  }
  //@include span($with-sidebar-left-span nest);
  >.container {
    @include leader(1);
    @include trailer(1);
    //@include squish(1);
  }
  .content {
    min-height:rhythm(6);
  }
}
#areamap {
  @import 'partials/pages/areamap';
}
#blog_single {
  @import 'partials/layout/blog';
}

.circle_image {
  @import 'partials/circle_image';
}
.booth_card,
.stage_card,
.news_card {
  @import 'partials/booth_card';
}