@import 'init';

head {
  z-index:$head-z-index !important;
}

html,body {
  height:100%;
  height:100vh;
}
body {
  font-family:
    'Verdana',
    'YuGothic', 'Yu Gothic', '游ゴシック',
    'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    'Meiryo', 'メイリオ',
    sans-serif;
  @include adjust-font-size-to(1rem);
  background-color:$background-color;
}
#wrapper {
  min-height:100%;
  min-height:100vh;
  position:relative;
}

a {
  text-decoration:inherit;
  color:inherit;
}

#header {
  @import 'partials/header';
}
#nav {
  @import 'partials/nav';
}
#main {
  padding-bottom:rhythm($footer-rhythm,$footer-font-size);
}
#footer {
  @import 'partials/footer';
}

#with_sidebar {
  @import 'partials/layout/with_sidebar';
}

#about {
  @import 'partials/pages/about';
}
#booth {
  @import 'partials/pages/booth';
}
#stage {
  @import 'partials/pages/stage';
}
#areamap {
  @import 'partials/pages/areamap';
}

.circle_image {
  @import 'partials/circle_image';
}
.booth_card,
.stage_card {
  @import 'partials/booth_card';
}