#whats_takarock_14,
#histories_header,
#histories .history {
  >.container {
    @include container;
  }
}

#whats_takarock_14 {
  .circle_image {
    &.big {
      @include circle-image-sizing(10);
    }
  }
}

#histories {
  color:$histories-color;
  background-color:$histories-background-color;
  #histories_header {
    //background-color:$histories-header-background-color;
    h1 {
      text-align:center;
      background-color:$histories-header-background-color;
      margin:0 auto;
    }
  }
}