@mixin about-container-sizing($layout: default) {
  @include container;
}
#whats_takarock_14,
#histories_header,
/*#histories .history*/ {
  >.container {
    @include breakpoint($layout-default-breakpoint) {
      @include about-container-sizing(default);
    }
    @include susy-breakpoint($layout-square-pc-breakpoint,$layout-square-pc) {
      @include about-container-sizing(square-pc);
    }
  }
}

#whats_takarock_14 {
  h1 {
    display:none;
  }
  $padding:3;
  .content {
    text-align:center;
    @include padding-leader($padding);
    @include padding-trailer($padding);
  }
  .circles {
    position:relative;
    @include leader($padding);
    @include padding-leader(2);
    @include padding-trailer(2);
    //@include trailer($padding);
    .circle_image {
      $big-rhythm:10;
      &.big {
        margin:0 auto;
        @include circle-image-sizing($big-rhythm);
      }
      $rhythm:5;
      &.first,
      &.second,
      &.third,
      &.fourth {
        position:absolute;
        top:auto;bottom:auto;
        left:50%;right:50%;
      }
      &.first {
        top:0;right:auto;
        margin-left:-( rhythm($big-rhythm + 1) );
        @include circle-image-sizing($rhythm);
      }
      &.second {
        bottom:0;left:auto;
        margin-right:-( rhythm($big-rhythm) );
        margin-bottom:rhythm(1);
        @include circle-image-sizing($rhythm - 1);
      }
      &.third {
        $rtm:2;
        top:50%;right:auto;
        margin-left:-( rhythm($big-rhythm + 2) );
        margin-top:-( rhythm($rtm / 2) );
        @include circle-image-sizing($rtm);
      }
      &.fourth {
        $rtm:3;
        top:0;left:auto;
        margin-right:-( rhythm($big-rhythm) );
        margin-top:rhythm(2);
        @include circle-image-sizing($rtm);
      }
    }
  }
}

@mixin about-history-item-sizing($layout: default) {
  $max-span:susy-get(columns);
  $span:$max-span / 2;
  @include span($span of $max-span);
}

#histories {
  color:$histories-color;
  background-color:$histories-background-color;
  @include reset-text;
  #histories_header {
    //background-color:$histories-header-background-color;
    h1 {
      text-align:center;
      background-color:$histories-header-background-color;
      margin:0 auto;
      @include adjust-font-size-to(1.75rem);
      @include padding-leader(1);
      @include padding-trailer(1);
    }
  }
  >.container {
    @include breakpoint($layout-default-breakpoint) {
      @include about-container-sizing(square-pc);
    }
    @include susy-breakpoint($layout-square-pc-breakpoint,$layout-square-pc) {
      @include about-container-sizing(square-pc);
    }
  }
  .history {
    @include breakpoint($layout-default-breakpoint) {
      @include about-container-sizing(default);
      @include about-history-item-sizing(default);
    }
    @include susy-breakpoint($layout-square-pc-breakpoint,$layout-square-pc) {
      @include about-container-sizing(square-pc);
      @include about-history-item-sizing(square-pc);
    }
    >.container {
      //@include padding-leader(2);
      @include padding-trailer(2);
      @include pad(3);
    }
    .content {
      h1 {
        @include adjust-font-size-to(1.25rem);
        @include padding-trailer(1);
        text-align:center;
      }
      .circle_image {
        margin:0 auto;
        @include trailer(1);
      }
    }
  }
}