& {
  >.container {
    @include breakpoint($layout-default-breakpoint) {
      @include areamap-contaier-sizing(default);
      @include areamap-column-sizing(default);
    }
    @include susy-breakpoint($layout-square-pc-breakpoint,$layout-square-pc) {
      @include areamap-contaier-sizing(square-pc);
      @include areamap-column-sizing(square-pc);
    }
    @include susy-breakpoint($layout-tablet-breakpoint,$layout-tablet) {
      @include areamap-contaier-sizing(tablet);
      @include areamap-column-sizing(tablet);
    }
    @include susy-breakpoint($layout-phablet-breakpoint,$layout-phablet) {
      @include areamap-contaier-sizing(phablet);
      @include areamap-column-sizing(phablet);
    }
    @include susy-breakpoint($layout-phone-breakpoint,$layout-phone) {
      @include areamap-contaier-sizing(phone);
      @include areamap-column-sizing(phone);
    }
    @include padding-leader(3);
    @include padding-trailer(3);
    >.left {
      >.container {
        
      }
    }
    >.right {
      >.container {
        @include padding-leader(2);
      }
    }
  }
  .map {
    display:block;
    @include background-size(contain);
    background-position:center center;
    background-repeat:no-repeat;
    height:rhythm(20);
    @include rhythm-borders(5px);
    border-radius:rhythm(.5);
    background-color:$areamap-background-color;
    border-color:$areamap-border-color;
    img {
      display:none;
    }
  }
}