---
#layout: with_sidebar
top_image_src: "/images/2012/IMGP2023.JPG"
---
div#mainborder
div#index
  section#index_video_section.index_section
    div.container
      div.video
        <iframe src="//www.youtube.com/embed/videoseries?list=PLzLefcogapwnpcRm-tZb4Z9N0hZLh1vc0" frameborder="0" allowfullscreen></iframe>
  section#index_news_section.index_section
    div.container
      - if blog('blog').tags.has_key?('news') && blog('blog').tags['news'].length > 0
        header.header
          div.container
            h1
              = t(:index_category_news)
        div.items
          - blog('blog').tags['news'].each do |article|
            = partial "partials/news_card", :locals => { :article => article }