@charset "UTF-8";
/* line 3, /home/travis/build/seisahachioji/takarock14/source/stylesheets/layout.css.scss */
head {
  z-index: 1001; }

/* line 7, /home/travis/build/seisahachioji/takarock14/source/stylesheets/layout.css.scss */
html, body {
  height: 100%;
  height: 100vh; }

/* line 11, /home/travis/build/seisahachioji/takarock14/source/stylesheets/layout.css.scss */
body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif; }

/* line 18, /home/travis/build/seisahachioji/takarock14/source/stylesheets/layout.css.scss */
#wrapper {
  min-height: 100%;
  min-height: 100vh;
  position: relative; }

/* line 24, /home/travis/build/seisahachioji/takarock14/source/stylesheets/layout.css.scss */
a {
  text-decoration: inherit;
  color: inherit; }

/* line 6, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_header.scss */
#header {
  color: white;
  background-color: #3498db;
  z-index: 1000;
  overflow: hidden; }
  /* line 11, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_header.scss */
  #header > .container {
    position: relative;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  /* line 15, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_header.scss */
  #header .content {
    position: relative;
    z-index: 999;
    width: 1440px;
    width: 90rem;
    margin-left: auto;
    margin-right: auto; }
    /* line 12, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
    #header .content:after {
      content: " ";
      display: block;
      clear: both; }
    /* line 61, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
    head {
      display: block;
      position: fixed;
      right: 10px;
      top: 10px;
      z-index: 999;
      color: #333;
      background: rgba(255, 255, 255, 0.25); }
    /* line 62, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
    head:before {
      content: "|||";
      display: block;
      padding: 5px 10px;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: bold; }
    /* line 63, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
    head:hover {
      background: rgba(255, 255, 255, 0.5);
      color: red; }
    /* line 67, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
    head:hover ~ #header .content, head:hover ~ body #header .content {
      position: relative; }
      /* line 70, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
      head:hover ~ #header .content:before, head:hover ~ body #header .content:before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: " ";
        z-index: 998;
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
        background-size: 30px, 100% 24px;
        background-origin: content-box, border-box;
        background-clip: content-box, border-box;
        background-position: left top; }
  /* line 20, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_header.scss */
  #header .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 998;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    margin: -5px; }
  /* line 31, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_header.scss */
  #header h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 48px;
    line-height: 3rem;
    padding-top: 48px;
    padding-top: 3rem;
    padding-bottom: 48px;
    padding-bottom: 3rem;
    margin: 0;
    margin-left: 3px;
    margin-left: 0.1875rem;
    margin-right: 3px;
    margin-right: 0.1875rem; }

/* line 6, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
/* line 11, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
#nav li {
  display: block;
  text-align: initial; }
/* line 15, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
#nav > .container {
  width: 1440px;
  width: 90rem;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
  #nav > .container:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 67, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
  head:hover ~ #nav > .container, head:hover ~ body #nav > .container {
    position: relative; }
    /* line 70, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
    head:hover ~ #nav > .container:before, head:hover ~ body #nav > .container:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-size: 30px, 100% 24px;
      background-origin: content-box, border-box;
      background-clip: content-box, border-box;
      background-position: left top; }
/* line 19, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
#nav .item {
  width: 234px;
  width: 14.625rem;
  float: left;
  margin-left: 3px;
  margin-left: 0.1875rem;
  margin-right: 3px;
  margin-right: 0.1875rem; }
  /* line 22, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
  #nav .item > .container {
    display: block; }
  /* line 26, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
  #nav .item .text {
    display: block;
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
    line-height: 1.5rem;
    margin-top: 24px;
    margin-top: 1.5rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem; }
  /* line 35, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
  #nav .item strong.text {
    display: none; }
  /* line 38, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
  #nav .item .icon {
    display: block;
    background-position: center center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    height: 4.5rem; }
    /* line 45, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
    #nav .item .icon img {
      display: none; }
  /* line 49, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
  #nav .item .icon.logo {
    background-image: url("../images/seisa.notext.w.png"); }
/* line 55, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_nav.scss */
#nav {
  color: white;
  background-color: #3498db; }

/* line 35, /home/travis/build/seisahachioji/takarock14/source/stylesheets/layout.css.scss */
#main {
  padding-bottom: 15rem; }

/* line 2, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
#footer {
  background-color: #3498db;
  color: white;
  font-size: 14px;
  font-size: 0.9rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 15rem;
  overflow: hidden;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0; }
/* line 13, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
#footer > .container > .columns {
  width: 1440px;
  width: 90rem;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
  #footer > .container > .columns:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 67, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
  head:hover ~ #footer > .container > .columns, head:hover ~ body #footer > .container > .columns {
    position: relative; }
    /* line 70, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
    head:hover ~ #footer > .container > .columns:before, head:hover ~ body #footer > .container > .columns:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-size: 30px, 100% 24px;
      background-origin: content-box, border-box;
      background-clip: content-box, border-box;
      background-position: left top; }
  /* line 50, /home/travis/build/seisahachioji/takarock14/source/stylesheets/_init.scss */
  #footer > .container > .columns ul, #footer > .container > .columns ol {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    /* line 54, /home/travis/build/seisahachioji/takarock14/source/stylesheets/_init.scss */
    #footer > .container > .columns ul li, #footer > .container > .columns ol li {
      display: block;
      text-align: inherit; }
  /* line 18, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
  #footer > .container > .columns > .left,
  #footer > .container > .columns > .right {
    height: 7.5rem;
    padding-top: 24px;
    padding-top: 1.5rem;
    padding-bottom: 24px;
    padding-bottom: 1.5rem; }
  /* line 24, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
  #footer > .container > .columns > .left {
    width: 1194px;
    width: 74.625rem;
    float: left;
    margin-left: 3px;
    margin-left: 0.1875rem;
    margin-right: 3px;
    margin-right: 0.1875rem; }
    /* line 26, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
    #footer > .container > .columns > .left #footer_nav {
      padding-top: 48px;
      padding-top: 3rem;
      padding-bottom: 48px;
      padding-bottom: 3rem; }
    /* line 31, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
    #footer > .container > .columns > .left li {
      display: inline-block; }
      /* line 34, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
      #footer > .container > .columns > .left li:not(:first-child) {
        padding-left: 0.45rem; }
      /* line 37, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
      #footer > .container > .columns > .left li:not(:last-child) {
        padding-right: 0.45rem; }
  /* line 42, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
  #footer > .container > .columns > .right {
    width: 234px;
    width: 14.625rem;
    float: left;
    margin-left: 3px;
    margin-left: 0.1875rem;
    margin-right: 3px;
    margin-right: 0.1875rem; }
    /* line 44, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
    #footer > .container > .columns > .right .item {
      /*
      &:not(:first-child) {
        @include leader(1,$footer-font-size);
      }
      */ }
      /* line 50, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
      #footer > .container > .columns > .right .item:not(:last-child) {
        margin-bottom: 24px;
        margin-bottom: 1.5rem; }
      /* line 53, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
      #footer > .container > .columns > .right .item > a {
        display: block; }
      /* line 56, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
      #footer > .container > .columns > .right .item .image {
        display: block;
        background-position: center center;
        -moz-background-size: contain;
        -o-background-size: contain;
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        height: 3rem;
        -webkit-filter: grayscale(100%) invert(100%);
        filter: grayscale(100%) invert(100%); }
        /* line 64, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
        #footer > .container > .columns > .right .item .image img {
          display: none; }
/* line 71, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/_footer.scss */
#footer > .container > .bottom {
  text-align: center;
  font-size: 14px;
  font-size: 0.9rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem; }

/* line 4, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/layout/_with_sidebar.scss */
#with_sidebar {
  width: 1440px;
  width: 90rem;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
  #with_sidebar:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 67, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
  head:hover ~ #with_sidebar, head:hover ~ body #with_sidebar {
    position: relative; }
    /* line 70, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
    head:hover ~ #with_sidebar:before, head:hover ~ body #with_sidebar:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-size: 30px, 100% 24px;
      background-origin: content-box, border-box;
      background-clip: content-box, border-box;
      background-position: left top; }
/* line 7, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/layout/_with_sidebar.scss */
#with_sidebar > #left {
  width: 1134px;
  width: 70.875rem;
  float: left;
  margin-left: 3px;
  margin-left: 0.1875rem;
  margin-right: 3px;
  margin-right: 0.1875rem; }
/* line 10, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/layout/_with_sidebar.scss */
#with_sidebar > #sidebar {
  width: 294px;
  width: 18.375rem;
  float: left;
  margin-left: 3px;
  margin-left: 0.1875rem;
  margin-right: 3px;
  margin-right: 0.1875rem; }

/* line 4, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/pages/_about.scss */
#about #whats_takarock_14 > .container,
#about #histories_header > .container,
#about #histories .history > .container {
  width: 1440px;
  width: 90rem;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
  #about #whats_takarock_14 > .container:after,
  #about #histories_header > .container:after,
  #about #histories .history > .container:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 67, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
  head:hover ~ #about #whats_takarock_14 > .container, head:hover ~ body #about #whats_takarock_14 > .container, head:hover ~
  #about #histories_header > .container, head:hover ~ body
  #about #histories_header > .container, head:hover ~
  #about #histories .history > .container, head:hover ~ body
  #about #histories .history > .container {
    position: relative; }
    /* line 70, /home/travis/build/seisahachioji/takarock14/vendor/bundle/ruby/2.1.0/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
    head:hover ~ #about #whats_takarock_14 > .container:before, head:hover ~ body #about #whats_takarock_14 > .container:before, head:hover ~
    #about #histories_header > .container:before, head:hover ~ body
    #about #histories_header > .container:before, head:hover ~
    #about #histories .history > .container:before, head:hover ~ body
    #about #histories .history > .container:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(255, 0, 0, 0.25) 10%, rgba(255, 77, 77, 0.25) 90%, rgba(0, 0, 0, 0) 90%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
      background-size: 30px, 100% 24px;
      background-origin: content-box, border-box;
      background-clip: content-box, border-box;
      background-position: left top; }
/* line 9, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/pages/_about.scss */
#about #histories {
  color: white;
  background-color: #2c3e50; }
  /* line 14, /home/travis/build/seisahachioji/takarock14/source/stylesheets/partials/pages/_about.scss */
  #about #histories #histories_header h1 {
    text-align: center;
    background-color: #2c3e50;
    margin: 0 auto; }
