& {
  @include reset-text;
}
#blog_single_article {
  & {
    @include padding-trailer(2);
  }
  /*
  #article_header {
    @include gutters;
    >.container {
      @include padding-leader(1);
      @include padding-trailer(1);
      @include pad(1);
    }
    h1 {
      @include adjust-font-size-to(2rem);
    }
  }
  */
  #article_header {
    >.container {
      @include pad(1);
    }
    #ah_icon {
      @include padding-leader(3);
      @include padding-trailer(3);
    }
    .circle_image {
      @include circle-image-sizing(8);
      margin:0 auto;
    }
    #ah_info {
      text-align:right;
      //@include horizontal-borders;
      @include trailing-border;
      border-color:$article-border-color;
      @include gutters;
    }
  }
  #article_main {
    >.container {
      @include pad(1);
    }
    #article_text {
      @include padding-leader(1);
      @include padding-trailer(1);
      @include article-text-styling(true);
    }
  }
  #article_footer {
    display:none;
    @include horizontal-borders;
    >.container {
      /*
      @include padding-leader(1);
      @include padding-trailer(1);
      */
    }
  }
}